<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <div class="pomodoro-container">
        <h1 class="timer-title">Pomodoro Timer</h1>
        <div class="timer-display">
            <span id="timer-minutes">25</span>:<span id="timer-seconds">00</span>
        </div>
        <div class="timer-buttons">
            <button id="start-timer" class="btn">Iniciar</button>
            <button id="pause-timer" class="btn">Pausar</button>
            <button id="reset-timer" class="btn btn-reset">Resetar</button>
        </div>
    </div>    
</body>
<script src="/static/JS/timer.js"></script>
</html>
